@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


.caveat {
    font-family: "Caveat", cursive;
    font-size: medium;
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

::placeholder {
    text-align: end;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0px 20px;
    background-color: #212121;
    color: #fff;
}

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

/* BMI Calculator [START]*/
form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    border-radius: 10px;
    background-color: #181818;
}

#container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.userInput {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: larger;
}

#height,
#weight {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.button {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

#calculate,
#clear {
    font-size: large;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: white;
    cursor: pointer;
}

#calculate:hover,
#clear:hover {
    box-shadow: none;
    background-color: aliceblue;
}

#container-2 {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    padding: 20px 10px 10px 0px;
    font-size: large;
}

/* BMI Calculator [END]*/

/* BMI Range [START] */
#bmi-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

details {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black;
}

summary {
    padding: 15px 30px;
    cursor: pointer;
}

details[open] {
    padding: 10px;
    box-shadow: none;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    padding: 10px 20px;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 5px 30px 5px 10px;
    text-align: start;
}

th {
    font-weight: 500;
}

td {
    font-weight: 300;
}

details:hover {
    box-shadow: none;
}

/* BMI Range [END] */
.signature {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.signature a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: all 0.3s linear;
}
.signature a:hover{
    color: rgba(255, 255, 255, 0.9);
}

@media (width <=768px) {

    #height,
    #weight {
        width: 200px;
    }

    #calculate,
    #clear {
        font-size: small;
    }
}

@media (max-width:425px) {
    #start {
        gap: 2px;
    }

    #start h1 {
        font-size: large;
    }

    #start p {
        font-size: x-small;
    }

    form {
        width: 80vw;
        gap: 20px;
        padding: 30px;
    }

    #container-1 {
        gap: 20px;
    }

    .userInput {
        flex-direction: column;
        gap: 5px;
        align-items: start;
        font-size: small;

    }

    .button {
        justify-content: center;
    }

    #container-2 {
        font-size: small;
    }

    #height,
    #weight {
        width: auto;
        padding: 5px;
        font-size: small;
    }

    details {
        font-size: small;
    }

    #code {
        font-size: x-small;
    }
}